h1,h2,h3,h4,h5,h6,div,a,p,li
  font-family "open-sans",sans-serif
  font-weight lighter

h1
  font-size 4em
  color $mainAccent
  line-height 1.1em
  text-align center

h2
  font-size 3em
  line-height 1.2em
  text-align center

div
  font-size 1.1em
  line-height 1.3em