#geocoder-wrapper
  position fixed
  display none
  top 30%
  left: 50%
  margin-left -355px
  border-radius 25px
  overflow hidden
  z-index: 100

  .geocoder-form
    position relative
    padding 25px
    z-index 1

    input
      width 600px
      margin-top 15px
      border-radius 5px
      border none
      padding 5px

  .background
    position absolute
    top 0
    width 100%
    height 100%
    background-color white
    opacity 0.7

  #search-button
    background-color $mapMatch
    color $secondaryAccent
    padding 5px
    border-radius 5px
    display inline-block
    cursor pointer

  #search-button:hover
    background-color $topButtonHover

#map
  position fixed
  height 100%
  width 100%
  top 0

.leaflet-popup-content-wrapper, .leaflet-popup-tip

  h3
    font-size 0.8em
    font-weight normal !important

  p,a
    font-size 0.7em

  p
    margin-bottom 0

a[style]
  display none