.slide-title-wrapper
  position absolute
  max-width 90%
  border-bottom-right-radius 25px
  border-bottom-left-radius 25px
  overflow hidden
  z-index 10

.slide-content-wrapper
  position absolute
  width 20%
  left 25px
  margin-bottom 25px
  min-width: 400px
  border-radius 25px
  overflow hidden
  z-index 10

.slide-title-wrapper, .slide-content-wrapper

  .slide-title, .slide-content
    position relative
    padding 25px
    z-index 1

  .background
    position absolute
    top 0
    width 100%
    height 100%
    background-color $secondaryAccent
    opacity 0.7

.slide-title-wrapper
  .background
    background-color $mainAccent

.slide-main-content-wrapper{
  margin-bottom 117px
  color $secondaryAccent
  text-align: center
  width 80%
}

.slide-footer
  position absolute
  width 100%
  padding 4em 0
  background $mapMatch
  color $secondaryAccent
  z-index 100

.slide-background-image
  position absolute
  width 100%
  height: 100%
  background-color white
  background-size cover
  background-repeat no-repeat
  background-position center
  z-index 5

.next-arrow
  position fixed
  color $mainAccent
  bottom 0
  left 50%
  margin-left -79px
  font-size 113px
  line-height 1
  z-index 11
  text-shadow: 0 0 10px #000000;
  cursor pointer