.slide-title
  position absolute
  max-width 90%
  margin-top 25px
  left 25px
  z-index 10

.slide-content
  position absolute
  max-width 20%
  left 25px
  margin-bottom 25px
  z-index 10

.slide-footer
  position absolute
  width 100%
  padding 4em 0
  background black
  z-index 10