.slide-title-wrapper
  position absolute
  max-width 90%
  border-bottom-right-radius 25px
  border-bottom-left-radius 25px
  overflow hidden
  z-index 10

.slide-content-wrapper
  position absolute
  width 20%
  left 25px
  margin-bottom 25px
  min-width: 400px
  border-radius 25px
  overflow hidden
  z-index 10

.slide-title-wrapper, .slide-content-wrapper

  .slide-main-title
    margin-top 25px

  .slide-title, .slide-content
    position relative
    padding 25px
    z-index 1

  .background
    position absolute
    top 0
    width 100%
    height 100%
    background-color $secondaryAccent
    opacity 0.7

.slide-title-wrapper
  .background
    background-color $mainAccent

.slide-main-content-wrapper
  margin-bottom 117px
  color $secondaryAccent
  text-align: center
  width 80%

.slide-footer
  position absolute
  width 100%
  background $mapMatch
  color $secondaryAccent
  z-index 100

  .footer-content
    padding 25px

    a
      color black

  .related-stories
    padding 25px
    text-align center

  .story-wrapper
    margin-top 25px
    display inline-block
    width 254px
    padding 12px
    text-decoration none


  .story-thumbnail
    display inline-block
    height 150px
    width 150px
    border 3px solid $secondaryAccent
    border-radius 90px
    background-size cover
    background-repeat no-repeat
    background-position center
    overflow hidden

  .story-title
    font-size .8em
    color $secondaryAccent

.slide-background-image
  position absolute
  width 100%
  height: 100%
  background-color white
  background-size cover
  background-repeat no-repeat
  background-position center
  z-index 5

.back-to-top-wrapper
  text-align center
  margin-bottom 25px

  .back-to-top-button
    background-color $topButton
    color $secondaryAccent
    padding 10px
    border-radius 10px
    margin auto
    width 200px
    cursor pointer

  .back-to-top-button:hover
    background-color $topButtonHover

.next-arrow
  position fixed
  color $mainAccent
  bottom 0
  left 50%
  margin-left -79px
  font-size 113px
  line-height 1
  z-index 11
  text-shadow: 0 0 10px #000000;
  cursor pointer